{% extends 'blank.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-right">
        <a class="btn btn-primary" href="/restaurant/{{ restaurant.id }}/food/new">新增</a>
    </div>
</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>名稱</th>
            <th>價格</th>
            <th>評語</th>
            <th>辣</th>
        </tr>
    </thead>
    <tbody>
        {% for f in restaurant.food_set.all %}
        <tr>
            <td>
                <a href="/restaurant/{{ restaurant.id }}/food/{{ f.id }}/edit/" class="btn btn-primary">編輯</a>
                <a href="/restaurant/{{ restaurant.id }}/food/{{ f.id }}/del/" class="btn btn-danger">刪除</a>
            </td>
            <td>{{ f.name }}</td>
            <td>{{ f.price }}</td>
            <td>{{ f.comment }}</td>
            <td>{% if f.is_spicy %}辣{% else %}不辣{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}